.anime {
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .g {
    width: 100%;
    margin: 1em 0;
    background: var(--background);
    .h {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: hsla(0, 0%, 100%, 0.4);
      padding: 2rem 0;

      img {
        border-radius: 1px;
        box-shadow: 8px 0 6px -5px black, -6px 0 5px -5px black;
        cursor: pointer;
        transition: 0.4s all ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }

      .attributes {
        text-align: justify;
        line-height: 1.5rem;
        max-width: 50%;
        overflow-y: scroll;
        height: 25rem;
        scroll-behavior: smooth;
        font-size: 1rem;
        padding: 15px;
        border-radius: 5px;
        background: #12181b;
        color: white;

        b,
        strong {
          color: mediumspringgreen;
          margin-left: 12px;
        }

        @media (min-width: 542px) {
          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            background: inherit;
          }

          &::-webkit-scrollbar-thumb {
            background: grey;
            border-radius: 20px;
            border: 1px solid black;
          }
        }
      }
    }
  }
}
.video {
  text-align: center;
  margin: 5rem auto;

  iframe {
    width: 50%;
    height: 25rem;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

@media (max-width: 840px) {
  .anime {
    .g {
      margin: 0;
      .h {
        display: grid;
        gap: 2rem;
        img {
          margin: 0 auto;
          width: auto;
        }
        .attributes {
          border-radius: 0;
          margin: auto;
          max-width: 88%;
        }
      }
    }
  }

  .video {
    iframe {
      border: none;
      width: 100%;
      height: auto;
      aspect-ratio: 16 /9;
    }
  }
}
