.list {
  text-align: center;
  box-sizing: border-box;
  width: 12rem;
  margin: 1rem auto 0.4rem auto;

  img {
    background: yellow;
    border-radius: 5px;
    object-fit: fill;
    width: 100%;
    height: 80%;
    box-shadow: 5px 0 5px -5px black, -5px 0 5px -5px black;

    &:hover {
      transform: scale(1.18);
      transition: 0.4s all ease-in-out;
      box-shadow: none;
    }
  }

  .title {
    color: gray;
    font-weight: inherit;
    font-size: 0.85rem;
    text-align: center;
    max-width: 100%;

    &:hover {
      color: white;
      font-size: 0.88rem;
    }
  }

  @media (max-width: 415px) {
    & {
      width: 8rem;
    }

    img {
      width: 100%;
      height: 80%;
    }

    .title {
      font-size: xx-small;
    }
  }
}

.ctitle {
  margin-bottom: -2rem;
  .cimg {
    width: 100%;
    height: 70%;
  }
}
