.animes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 1rem;

  @media (max-width: 520px) {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
  }
}
