.main {
  margin: 6rem auto;
  .sortby {
    color: orange;
    margin: auto 0 -5rem 2rem;

    select {
      border: none;
      padding: 3px;
      border-radius: 4px;
      color: lightgreen;
      background: #111;
      cursor: pointer;
    }
  }

  .animes {
    margin: 6rem auto;
  }
}
