.main {
  top: 0;
  position: sticky;
  width: 100%;
  background: #121819;
  // background: #223038;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px -2px 5px black;
  z-index: 12;

  h1 {
    color: turquoise;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 0 0 0.1em, 0 0 0.3em;
    -webkit-text-stroke: 0.2px white;
  }

  form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      margin-right: 5px;
      width: 75%;
      padding: 1em;
      border: 1px solid grey;
      border-radius: 5px;
      background: inherit;
      color: white;
    }

    button {
      padding: 1em;
      border: none;
      border-radius: 5px;
      color: black;
      cursor: pointer;
      background: white;
      height: inherit;
      box-sizing: border-box;
      max-height: inherit;
    }
  }

  @media (max-width: 898px) {
    input {
      width: 40%;
    }
  }

  @media (max-width: 541px) {
    & {
      height: 60px;
      padding-top: 0.4rem;
      // background: #223038;

      h1 {
        font-size: 1.5rem;
      }
      input {
        width: 20%;
      }
    }
  }
}
