.main {
  top: 0;
  position: fixed;
  width: 100%;
  background: #223038;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px -2px 5px black;
  z-index: 12;

  h1 {
    color: turquoise;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 0 0 0.1em, 0 0 0.3em;
    -webkit-text-stroke: 0.2px white;
  }

  form {
    width: 50%;

    input {
      margin: 5px;
      width: 75%;
      padding: 1em;
      border: 1px solid grey;
      border-radius: 5px;
      background: inherit;
      color: white;
    }

    button {
      padding: 1.1em;
      border: none;
      border-radius: 5px;
      background: rgb(18, 18, 18);
      color: white;
      cursor: pointer;
    }

    @media (max-width: 898px) {
      input {
        width: 40%;
      }
    }

    @media (max-width: 368px) {
      input {
        width: 20%;
      }
    }
  }
}
